@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.sign-in-section {
    background-image: url(../img/Sign\ in.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text-blue {
    color: rgba(37, 99, 235);
}

.pointer {
    cursor: pointer;
}

.text-grey {
    color: rgba(98, 101, 109);
}

.heading {
    text-align: left !important;
}

.form-heading {
    font-size: 32px;
    font-weight: 600;
    line-height: 43.2px;
    font-family: "poppins";
}

.form-p {
    font-family: "Lato";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(98, 101, 109);
}

.sign-in-btn {
    background-color: rgba(35, 129, 247);
    width: 100%;
    max-width: 340px;
    border: 1px solid rgba(35, 129, 247);
    border-radius: 50px;
    padding: 14px;
}

.sign-in-btn:hover {
    box-shadow: 0px 0px 4px rgb(123, 130, 209);
}

::placeholder {
    color: rgba(145, 151, 166);
}

input {
    padding-left: 40px !important;
}

.sign-in-form {
    max-width: 340px;
}

.email,
.password {
    background-color: rgba(245, 248, 255);
    width: 100%;
    max-width: 340px;
    border-radius: 6px;
    border: 1px solid rgba(228, 234, 247);
    padding: 10px;
}

.checkbox-text {
    color: rgba(98, 101, 109);
}

hr {
    max-width: 340px;
}

hr::after {
    content: "or continue with";
    position: relative;
    left: 35%;
    top: -10px;
    z-index: 99;
}

.google-btn,
.fb-btn {
    padding: 10px 35px;
    border-radius: 6px;
    border: 1px solid rgba(228, 234, 247);

    a {
        text-decoration: none;
        color: rgba(98, 101, 109);
    }
}

.google-btn:hover,
.fb-btn:hover {
    box-shadow: 0px 0px 4px rgb(123, 130, 209);
}

.fb-btn {
    margin-left: 10px;
}

/* .bg-linear-grandient-blue {
    background: linear-gradient(83.67deg, #2194FF 10.02%, #2563EB 90.05%);
} */

.w-100 {
    width: 100%;
}

.sign-in-section::after {
    content: "";
    position: absolute;
    right: 0%;
    left: 50%;
    /* background: linear-gradient(83.67deg, #2194FF 10.02%, #2563EB 90.05%); */
    background-image: url("../img/ractangle.png");
    height: 100%;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.fb {
    top: 2%;
    left: 24%;
    z-index: 3;
}

.linked-in {
    top: 24%;
    left: 24%;
    z-index: 3;
}

.instagram {
    top: 48%;
    left: 24%;
    z-index: 3;
}

.twitter {
    top: 68%;
    left: 24%;
    z-index: 3;
}

.union {
    top: 7% !important;
    left: 35% !important;
    z-index: 2 !important;
}

.z-index-1 {
    z-index: 1;
}

/* .circle {
    width: 100%;
    min-height: 400px;
    background: linear-gradient(83.67deg, #2194FF 10.02%, #2563EB 90.05%);
} */

.circle{
    width: 90%;
    top:-10%;
}
.content-list {
    z-index: 2;
    left: 65%;
    top: 15%;
}

.list {
    top: 15%;
    left: 85%;
    z-index: 2;
}

.svg-1,
.svg-2 {
    left: 10px;
    bottom: 40px !important;
}

.eye {
    left: 83%;
    bottom: 40px;
}

@media (max-width:767.98px) {
    .sign-in-section::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: url("../img/ractangle.png");
        /* height: 400px; */
        height: 100%;
        width: 100%;
        top: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .circle {
        top: 50px !important;
    } 

    .union {
        top: 46px !important;
        left: 13% !important;
    }

    .fb {
        top: 24px;
        left: 0%;
    }

    .linked-in {
        top: 124px !important;
        left: 0%;
    }

    .instagram {
        top: 232px;
        left: 0%;
    }

    .twitter {
        top: 334px;
        left: 0%;
    }

    .content-list {
        top: 130px;
        left: 200px;
        width: 20%;
    }

    .list {
        top: 130px;
        left: 255px;
        width: 11.8%;
    }

    .bg-linear-grandient-blue {
        background: linear-gradient(83.67deg, #2194FF 10.02%, #2563EB 90.05%);
    }

    .google-btn,
    .fb-btn {
        padding: 10px 20px;

    }
}

@media (max-width:576px) {
    /* .circle {
        width: 70%;
        left: 0%;
        top: 50px !important;
    } */

    .bg-linear-grandient-blue {
        background: linear-gradient(83.67deg, #2194FF 10.02%, #2563EB 90.05%);
    }
}

@media (min-width:576px) {
    /* .circle {
        max-width: 500px;
         height: 500px; 
        aspect-ratio: 1/1;
          position: absolute;
        left: 830.18px;
        top: 144.85px;   
        background: linear-gradient(83.67deg, #2194FF 10.02%, #2563EB 90.05%);
        border-radius: 50%;
    } */
}